<div class="col-md-3">
<h2>User info</h2>
<table class="table" style="white-space: nowrap">
<tr>
<td>
<%= attachment_image_tag current_user, :profile_image, fallback: "no_image.jpg", :size=>'60x60' %>
</td><td></td>
</tr>

<tr><td><h6>name</h6></td><td><h6><%= current_user.name %></h6></td></tr>
<tr><td><h6>introduction</h6></td><td><h6><%= current_user.introduction %></h6></td></tr>

<tr>
<td colspan = 2>
<% if current_user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(current_user) %></p>
<% end %>
</td>
</tr>
</table>
</div>