<main>

<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-8 col-xl-6">
     <h1>welcome to <i class="fas fa-book"></i> Bookers!!</h1>
     <p><h4>In<i class="fas fa-book"></i> Bookers,</br>
         you can share and exchange your opinions , inpressions , and emotions</br>
         about various books!
         </h4>
      </p>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <%= link_to "Log in", new_user_session_path,class: 'text-light btn btn-info btn-sm btn-block mb-3 '%>
        </div>
        <div class="row">
          <%= link_to "Sign Up", new_user_registration_path,class: 'text-light btn btn-success btn-sm btn-block text-center '%>
        </div>
        </li>
      </div>
    </div>
  </div>
</div>
</main>


